/* Descendant selector */
ol li { 
  color: green;
}

/* Child selector */
ol > li {
  color: purple
}

/* Tag selector */
li {
  color: yellow;
}

/* Class selector */
li.myClass {
  color: red;
}

/* General sibling selector */
li.myClass ~ li {
  color: blue;
  font-weight: bold;
}

/* Adjacent sibling selector - selecting only ONE (NEXT) sibling */
li.myClass + li {
  color: orange;
}

/* Attribute selector */
li[title] {
  color: teal;
  text-decoration:line-through
}

li[title*=a] {
  border: 1px solid red;
}

a[href^=https] {
  text-decoration: overline;
}

input:valid {
  border: 1px solid green;
}

input:invalid {
  border: 1px solid red;
}

input:required {
  border-width: 3px;
}

input:optional {
  border-width: 5px;
}

input:out-of-range {
  background-color: pink;
}

input:in-range {
  background-color: greenyellow;
}

input[type=checkbox]:checked + label {
  color: purple;
  font-style: italic;
}

table {
  border: 2px solid black
}
td {
  width: 40px;
  height: 40px;
  /* border: 2px solid grey; */
}

tr:nth-of-type(even) td:nth-of-type(odd),
tr:nth-of-type(odd) td:nth-of-type(even) {
  background-color: black;
}

